/*@import "../../../.cache/wal/colors.css"*/

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.5);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #00ffff;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/mrbogdanovich/dotfiles/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/mrbogdanovich/dotfiles/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/mrbogdanovich/dotfiles/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/mrbogdanovich/dotfiles/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/mrbogdanovich/dotfiles/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/mrbogdanovich/dotfiles/.config/wlogout/icons/reboot.png"));
}
