[mgr]
show_hidden = true
show_symlink = true 

[preview]
wrap = "yes"

[opener]
play = [
{ run = 'mpv "$@"', orphan = true, for = "unix" }
]

edit = [
{ run = 'nvim "$@"', block = true, for = "unix" },
]

open = [
	{ run = 'xdg-open "$@"', desc = "Open" },
]
picture = [
	{ run = 'feh "$@"', for = "unix"}
]

[open]
append_rules = [
	{name = "*", use = "edit"},
	{name = "*.png", use = "picture"}
]
